<!-- blogpost_template.html - Updated 30th March -->
<!DOCTYPE html>
<html>
        <head>
                <title>Blog Template</title>

                <link rel="stylesheet" href="../css/main.css" />
                <time></time>
        </head>

        <body>
                <iframe class="sidebar" src="../sidebar.html"></iframe>

                <!-- Insert generated HTML into main tag -->
                <main>
                        <aside></aside>
                </main>
        </body>
</html>
